{% extends "header.html" %}

{% block contenido %}
{% load static %}

<body id="about">
    <div class="about_form" ,align="center">
        <h1>CANCER DE MAMA</h1>
        <img id="info1", src="{% static 'img/cancer8.jpeg' %}" alt="">
        <p id="parrafo">El cáncer de mama es una enfermedad en la cual las células de la mama se multiplican sin control. 
            Existen distintos tipos de cáncer de mama. 
            El tipo de cáncer de mama depende de qué células de la mama se vuelven cancerosas.
        </p>
    </div>

    <div class="about_form" ,align="center">
        <h1>PREVIENE TU VIDA</h1>
        <img id="info1", src="{% static 'img/cancer4.jpeg' %}" alt="">
        <p id="parrafo">Presencia de un bulto o aumento en la densidad o endurecimiento del seno
            Inflamación, hendiduras (como piel de naranja), enrojecimiento o dolor en la piel
            Cambios en el contorno o en la apariencia del pezón
            Secreción a través del pezón
            Si los síntomas persisten es necesario consultar con un médico especialista. 
            Es importante mencionar que estos síntomas pueden ser causados por otros factores no necesariamente asociados con el cáncer. 
            La mayoría de casos de cáncer de mama son detectados a través de la mamografía, antes de que algún síntoma aparezca. </p>
    </div>

</body>


{% endblock contenido %}